header {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
nav {
  width: 327px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_icon {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shearch {
  position: absolute;
  right: 15px;
  top: 40px;
}
.right {
  display: flex;
  align-items: center;
}
.darkmode {
  margin-left: 16px;
  width: 90px;
  padding-left: 16px;
  border-left: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle_container {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #757575;
  padding-left: 3px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.dark_circle_container {
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #a445ed;
  padding-left: 21px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}
.fonts {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #2d2d2d;
  background-color: #ffffff;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  width: 100px;
  height: 24px;
  font-size: 14px;
  font-weight: 700;
  text-align-last: right;
  transition: all 0.3s ease;
}
.dark_fonts {
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #050505;
  color: #ffffff;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  width: 100px;
  height: 24px;
  text-align-last: right;
  transition: all 0.3s ease;
}

select option:checked {
  display: none;
}

.input {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}
.inputDisable {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  border: 1px solid #ff5252;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}
.dark_input {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
}
.dark_input:focus {
  border: 1px solid #a445ed;
  transition: all 0.3s ease;
}
.input:focus {
  border: 1px solid #a445ed;
  transition: all 0.3s ease;
}
.dark_inputDisable {
  border: 1px solid #ff5252;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  color: #ffffff;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
}

.spanActive {
  margin-top: 5px;
  font-size: 14px;
  color: #ff5252;
  font-weight: 400;
  opacity: 0;
  transition: all 0.3s ease;
}
.spanDisable {
  margin-top: 5px;
  font-size: 14px;
  color: #ff5252;
  font-weight: 400;
  opacity: 1;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .shearch {
    position: absolute;
    right: 20px;
    top: 83px;
  }
  nav {
    width: 690px;
  }

  .fonts {
    width: 120px;
    font-size: 18px;
  }
  .dark_fonts {
    font-size: 18px;
    width: 120px;
  }

  .input {
    font-size: 20px;
    margin-top: 60px;
    width: 690px;
    height: 64px;
    transition: all 0.3s ease;
  }
  .inputDisable {
    font-size: 20px;
    margin-top: 60px;
    width: 690px;
    height: 64px;
    transition: all 0.3s ease;
  }
  .dark_input {
    font-size: 20px;
    margin-top: 60px;
    width: 690px;
    height: 64px;
    transition: all 0.3s ease;
  }
  .dark_inputDisable {
    font-size: 20px;
    margin-top: 60px;
    width: 690px;
    height: 64px;
    transition: all 0.3s ease;
  }
  .spanActive {
    margin-top: 5px;
    font-size: 20px;
  }
  .spanDisable {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .shearch {
    position: absolute;
    right: 20px;
    top: 83px;
  }
  nav {
    width: 736px;
  }
  .input {
    font-size: 20px;
    margin-top: 60px;
    width: 736px;
    height: 64px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .inputDisable {
   cursor: pointer;
    width: 736px;
  }
  .dark_input {
    width: 736px;
    cursor: pointer;
  }
  .dark_inputDisable {
    width: 736px;
    cursor: pointer;
  }
  .circle_container:hover{
    background-color: #A445ED;
  }
}
