header {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
nav {
  width: 327px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right {
  display: flex;
  align-items: center;
}
.darkmode {
  margin-left: 16px;
  width: 90px;
  padding-left: 16px;
  border-left: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle_container {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #757575;
  padding-left: 3px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.dark_circle_container {
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #a445ed;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}
.fonts {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #2d2d2d;
  background-color: #ffffff;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  width: 100px;
  height: 24px;
  font-size: 14px;
  font-weight: 700;
  text-align-last: right;
  transition: all 0.3s ease;
}
.dark_fonts {
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #050505;
  color: #ffffff;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  width: 100px;
  height: 24px;
  text-align-last: right;
  transition: all 0.3s ease;
}
select option:checked {
  display: none;
}

.input {
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}
.dark_input {
  margin-top: 25px;
  width: 327px;
  height: 48px;
  padding-left: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
}
