main {
  margin-top: 30px;
  padding-bottom: 85px;
}
.word_audio {
  width: 327px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.audio {
  width: 48px;
  height: 48px;
}
.title {
  font-size: 32px;
  font-weight: 700;
}
.dark_title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.phonetic {
  margin-top: 10px;
  color: #a445ed;
  font-weight: 400;
  font-size: 18px;
}
.box {
  width: 327px;
  border-top: 2px solid #e9e9e9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.3s ease;
}
.dark_box {
  width: 327px;
  border-top: 2px solid #3a3a3a;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.3s ease;
}
.meanings {
  margin-top: 40px;
}
.main_title {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  width: min-content;
  color: #2d2d2d;
  background-color: #ffffff;
  padding-right: 10px;
  margin-top: -13px;
  transition: all 0.3s ease;
  margin-bottom: 31px;
}
.dark_main_title {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  width: min-content;
  color: #2d2d2d;
  background-color: #050505;
  color: #ffffff;
  padding-right: 10px;
  margin-top: -13px;
  transition: all 0.3s ease;
  margin-bottom: 31px;
}
.Meaning {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 17px;
}

ul {
  list-style: none;
  margin-left: 17px;
}
li {
  display: flex;
  flex-direction: column;
}
ul li::before {
  position: absolute;
  content: "\2022";
  color: #8f19e8;
  display: inline-block;
  margin-left: -1em;
  margin-right: 20px;
}
.example {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  margin-top: 13px;
}
.definition {
  font-size: 15px;
  font-weight: 400;
  color: #2d2d2d;
  line-height: 24px;
  width: 302px;
  text-align: left;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.dark_definition {
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  width: 302px;
  text-align: left;
  margin-bottom: 15px;
}
.Synonyms {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.synonym_box {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
  margin-left: -13px;
}
.synonym {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 10px;
}
.synonyms {
  font-size: 16px;
  font-weight: 700;
  color: #a445ed;
}
.link_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.source_title {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  text-decoration-line: underline;
  line-height: 20px;
  width: 47px;
}
.link {
  font-size: 14px;
  font-weight: 400;
  color: #2d2d2d;
  text-decoration-line: underline;
  transition: all 0.3s ease;
}
.dark_link {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s ease;
  text-decoration-line: underline;
}
.source {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: -30px;
  width: 327px;
  padding-top: 25px;
  border-top: 2px solid #e9e9e9;
  transition: all 0.3s ease;
}
.dark_source {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: -30px;
  width: 327px;
  padding-top: 25px;
  border-top: 2px solid #3a3a3a;
  transition: all 0.3s ease;
  
}

@media (min-width: 768px) {
  main {
    margin-top: 43px;
    padding-bottom: 85px;
  }
  .word_audio {
    width: 690px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .audio {
    width: 75px;
    height: 75px;
  }
  .title {
    font-size: 64px;
  }
  .dark_title {
    font-size: 64px;
  }
  .phonetic {
    font-size: 24px;
  }

  .box {
    width: 690px;
  }
  .dark_box {
    width: 690px;
  }

  .main_title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .dark_main_title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .Meaning {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .definition {
    font-size: 18px;
    width: 641px;
  }
  .dark_definition {
    font-size: 18px;
    width: 641px;
  }
  .synonym {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    gap: 10px;
  }
  .synonyms {
    font-size: 20px;
  }
  .example {
    font-size: 18px;
  }
  .Synonyms{
    font-size: 20px;
  }

  .source {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 690px;
  }
  .dark_source {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 690px;
  }
}
